/* scss styles */
body {
  font-family: Verdana;
  font-weight: normal; }

.header {
  height: 50px;
  position: fixed;
  top: 0px;
  background-color: black;
  width: 100%;
  box-shadow: 0 15px 40px 25px black; }
  .header .cup-img {
    height: 40px;
    width: 40px;
    position: relative;
    left: 2%; }
  .header .menu-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 2%; }

.menu {
  display: none;
  top: 51px;
  right: 0%;
  position: fixed;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px; }
  .menu .menu-items {
    list-style: none outside none;
    padding-bottom: 10px; }
    .menu .menu-items .item {
      border-bottom: 1px dashed black; }
    .menu .menu-items a:link {
      text-decoration: none; }
    .menu .menu-items a:visited {
      text-decoration: none; }
    .menu .menu-items a:hover {
      color: #e6ac00; }
    .menu .menu-items a:active {
      text-decoration: none; }

#intro {
  margin-top: 65px; }

.wp {
  margin-bottom: 15px;
  text-align: center;
  position: absolute;
  width: 90%;
  left: 5%; }
  .wp .wp-heading {
    position: absolute;
    font-weight: normal;
    width: 70%;
    left: 15%; }
  .wp p {
    font-size: 18px;
    font-weight: normal; 
    top: 15px; }

.footer {
  position: fixed;
  bottom: 0px;
  background-color: black;
  color: white;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  height: 10px;
  width: 100%;
  padding: 10px; }
