/* scss styles */
.header {
  height: 50px;
  position: fixed;
  top: 0px;
  background-color: black;
  width: 100%; }
  .header .cup-img {
    height: 40px;
    width: 40px;
    position: relative;
    left: 49%; }
  .header .menu-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5%; }
