/* scss styles */

@mixin base() {
background-color: black;
width: 100%;
}

@mixin imgbase($lr1, $lr2, $p, $h: 40px, $w: 40px) {
height: $h;
width: $w;
position: $p;
#{$lr1}: $lr2;
}

@mixin shadowbase() {
box-shadow: 0 15px 40px 25px black;
}

body, #bod { 
  font-family: Verdana;
  font-weight: normal; 
  overflow: scroll; }

.header { 
height: 50px; 
position: fixed;
top: 0px;
@include base();
@include shadowbase();

   .cup-img {
      @include imgbase(left, 2%, relative);
   }

   .menu-icon {
      @include imgbase(right, 2%, absolute);
   }
}

.menu {
  display: none;
  top: 51px;
  right: 0%;
  position: fixed;
  color: black;
  background-color: rgba(100%, 100%, 100%, .4);
  padding: 5px;
  .menu-items {
    list-style: none outside none;
    padding-bottom: 10px;
    .item {
        border-bottom: 1px dashed black;
    }
    
    a {
        &:link { text-decoration: none; }
        &:visited { text-decoration: none; }
        &:hover { color: #e6ac00; }
        &:active { text-decoration: none; }
    }
  }
 }

.wp {
  position: relative;
  top: 65px;
  text-align: center;
  width: 90%;
  margin: auto;
  .wp-heading {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    width: 70%;
    margin: auto;
  }
  p {
    position: relative;
    top: 15px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7;
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0%;
  background-color: black;
  color: white;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  height: 10px;
  width: 100%;
  padding: 10px; }
