/* scss styles */

@mixin base() {
background-color: black;
width: 100%;
}

@mixin imgbase($lr1, $lr2, $h: 40px, $w: 40px, $p: relative) {
height: $h;
width: $w;
position: $p;
#{$lr1}: $lr2;
}

.header { 
height: 50px; 
position: fixed;
top: 0px;
@include base();

   .cup-img {
      @include imgbase(left, 49%);
   }

   .menu-icon {
      @include imgbase(right, -6%);
   }
}
