/* scss styles */

@mixin base() {
background-color: black;
width: 100%;
}

@mixin imgbase($lr1, $lr2, $p, $h: 40px, $w: 40px) {
height: $h;
width: $w;
position: $p;
#{$lr1}: $lr2;
}

@mixin shadowbase() {
box-shadow: 0 15px 40px 25px black;
}

body { font-family: Verdana; }

.header { 
height: 50px; 
position: fixed;
top: 0px;
@include base();
@include shadowbase();

   .cup-img {
      @include imgbase(left, 2%, relative);
   }

   .menu-icon {
      @include imgbase(right, 2%, absolute);
   }
}

.menu {
  top: 51px;
  right: 0%;
  position: fixed;
  background-color: rgba(100%, 100%, 100%, .4);
  padding: 15px; }

.footer {
  position: fixed;
  bottom: 0px;
  background-color: black;
  color: white;
  font-size: 14px;
  text-align: center;
  height: 10px;
  width: 100%;
  padding: 10px; }
